{%extends 'base.html'%}
{%block script%}
<script> 
    let user = prompt("User: "); 
    let pass = prompt("Pass: "); 
    if(user == "admin" && pass == "admin"){
        alert("Welcome, admin!")
    }else{ 
        window.location.href = "administrador";
    }
</script> 
{%endblock script%}

{%block content%}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Casos Cadastrados</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                      <thead class="thead-primary">
                        <tr>
                            <th>Endereço</th>
                            <th>Bairro</th>
                            <th>Quantia</th>
                            <th>Situação</th>
                            <th>Localização</th>
                            <th>Ações</th>
                        </tr>
                      </thead>
                      <tbody>                            
                            {% for buraco in buraco %}
                            <tr>                          
                                <td>{{buraco.bu_rua}}</td>
                                <td>{{buraco.bu_bairro}}</td>
                                <td>{{buraco.bu_quantia}}</td>
                                <td>{{buraco.bu_status}}</td>                        
                                <td>{{buraco.bu_gravidade}}</td>   
                                <td> 
                                    <div class="login-button d-inline-block">
                                        <button><a href="{% url 'editar' buraco.id  %}">Editar</a></button>
                                    </div>
                                    <div class="login-button d-inline-block">
                                        <button><a href="{% url 'deletar' buraco.id %}">Excluir</a></button>
                                    </div>
                                </td>                         
                            </tr>
                            {%endfor%}                                         
                          
                        
                      </tbody>
                    </table>
                </div>
                <br> 
                <div class="login-button">
                    <button><a href="{%url 'index'%}">Voltar</a></button>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock content%}