{%extends 'base.html'%}
{%block content%}

<section class="ftco-section">
    <div class="container">
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{%url 'index'%}">Voltar</a></button>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label>Endereço</label>
                        {{buracoForm.bu_rua}}
                    </div>
                           
                    <div class="input-box">
                        <label >Bairro</label>
                        {{buracoForm.bu_bairro}}
                    </div>
                    
                    <div class="input-box">
                        <label >Quantia</label>
                        {{buracoForm.bu_quantia}}
                    </div>      
                    
                    <div class="input-box" style="  visibility: hidden;">
                        <label> Situação </label>
                        {{buracoForm.bu_status}}                          
                        </label>
                    </div>
                    <div class="input-box">
                        <label> Gravidade </label>
                        {{buracoForm.bu_gravidade}}                    
                    </div> 
                </div>
                       
                <div class="continue-button">
                    <button type="submit" style="color:white;" >Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</section>
    
{%endblock content%}